# Authentication credentials
AUTH_EMAIL=your-email@example.com
AUTH_NAME=your-name
AUTH_ROLL_NO=your-roll-number
AUTH_ACCESS_CODE=your-access-code
AUTH_CLIENT_ID=your-client-id
AUTH_CLIENT_SECRET=your-client-secret

# API endpoints
AUTH_API_URL=http://4.224.186.213/evaluation-service/auth
DEPOT_API_URL=http://4.224.186.213/evaluation-service/depots
VEHICLES_API_URL=http://4.224.186.213/evaluation-service/vehicles
LOG_API_URL=http://4.224.186.213/evaluation-service/logs

# Server configuration
PORT=3000
